@{
    ViewData["Title"] = "Pinball";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Wanna be a pinball wizard?</p>
    <p>Sign up to be a certifide legend!</p>
    <a asp-controller="Home" asp-action="Register"><p>Register here!</p></a>
</div>
