<p>Awesome! You wanna play some pinball</p>
<p>Just fill out the information below!</p>

<form method="get" action="result">

    <p>First Name</p>
    <input type="text" name="FirstName" min="1" maxlength="30" />

    <p>Last Name</p>
    <input type="text" name="LastName" min="1" maxlength="30"/>

    <p>Email</p>
    <input type="email" email="UserEmail" />

    <p>Players Password</p>
    <input type="password" password="UserPassword" min="5"  maxlength="30" />

    <p>Phone Number</p>
    <input type="tel" phone="PhoneNumber"  />

    <input type="submit" />
</form>