<p>Hello @ViewBag.FirstName @ViewBag.LastName</p>

<p>Your now a certified pinbal wizard!</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/4AKbUm8GrbM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>Need to practice?</p>
<p>Click the button bellow to get to slapping those paddles</p>

<button onclick="window.location.href = 'https://www.crazygames.com/game/pinball';">ClickHere</button> 